<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Result</title>
  </head>
  <style>
    .display {
      display: none;
    }
  </style>
  <body>
    <button
      onclick="Result()"
      type="button"
      class="bg-blue-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
    >
      CLICK HERE TO SHOW RESULT</button
    ><br />
    <br />
    <h id="displayResult"></h>

    <script>
      function Result() {
        let data = JSON.parse(localStorage.getItem("userResult"));
        let totalQuestion = JSON.parse(localStorage.getItem("TQ"));
        let score = 0;

        for (let i = 0; i < data.length; i++) {
          let uoption = data[i].UserAnswer;
          let coption = data[i].ansId;
          let length = data[i].qt;

          if (String(uoption) == String(coption)) {
            score += 1;
          } else {
            score += 0;
          }
        }
        let res = document.getElementById("displayResult");

        if ((score / totalQuestion) * 100 >= 70) {
          res.innerHTML = `<b>Congratulations! You Passed this Quiz, You Score ${score} out of ${totalQuestion}.</b>`;
        } else {
          res.innerHTML = `<b>Oops Failed! Please Try Again, You Score ${score} out of ${totalQuestion}, You need to get 70% percent marks to pass this quiz.</b>`;
        }
        setTimeout(() => {
          location.assign("/login");
        }, 10000);
      }
    </script>
  </body>
</html>
